{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="message-box">
        <h2>Game Room: {{code}}</h2>
        <h4>Joined As: <span id="currentUser">{{name}}</span></h4>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message">
            <button type="button" name="send" id="send-btn" style="display: inline;"
                onClick="sendMessage()">Send</button>
        </div>
    </div>
    <br>
    <div class="buttons">
        {% if is_host %}
        <div class="join">
            <input type="number" rows="3" placeholder="Number of Undercover" name="setUndercover" id="setUndercover">
            <button type="button" name="start-game-btn" id="start-game-btn" onclick="startGame()">Start Game</button>
        </div>
        {% else %}
        <div class="join">
            <input type="text" rows="3" placeholder="Number of Undercover" name="setUndercover" id="setUndercover"
                style="display: none;">
            <button type="button" name="start-game-btn" id="start-game-btn" style="display: none;"
                onclick="startGame()">Start Game</button>
        </div>
        {% endif %}
    </div>
    <div class="voting-section" id="voting-section" style="display: unset;">
        <h3>Vote to Eliminate</h3>
        <table id="voting-table">
            <!-- Table rows with radio buttons for each user -->
        </table>
        <div class="voting-buttons">
            <button onclick="submitVote()">Submit Vote</button>
            <button onclick="skipVote()">Skip Voting</button>
        </div>
    </div>
    <div>
        <span id="user-role"></span>
    </div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Guess Word" name="guessWord" style="visibility: hidden;" id="guessWord">
        <button type="button" name="guessWordButton" id="guessWordButton" style="display: none;" onClick="guessWord()">Send</button>
    </div>
    <!-- Popup card -->
    <div class="popup-card" id="popup-card">
        <!-- Content to display room roles and winner info -->
        <h2>Room Roles and Winner</h2>
        <div id="roles-info">
            <!-- Room roles and winner information will be displayed here -->
        </div>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();
    var currentUser = document.getElementById("currentUser");

    const messages = document.getElementById("messages")
    const createMessage = (name, msg) => {
        const content = `
        <div class = text>
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    })

    // socketio.on("startGame",(data) =>{

    // })
    socketio.on("hostChange", (data) => {
        var isHost = data.isHost;
        // console.log(currentUser, isHost)
        if (isHost == currentUser.innerText) {
            document.getElementById("start-game-btn").style.display = "block";
            document.getElementById("setUndercover").style.display = "block";
        } else {
            document.getElementById("setUndercover").style.display = "none";
            document.getElementById("start-game-btn").style.display = "none";
        }
    });
    var inGameUsers = []
    socketio.on("updateRoles", (data) => {
        debugger;
        const roomRoles = data.room_roles;
        let randomWord = data.random_word.replace(/[\[\]]/g, '')
        randomWord = randomWord.split(",");
        // console.log(roomRoles, randomWord);
        // console.log(roomRoles);
        // console.log(randomWord);
        // currentUser = document.getElementById("currentUser");
        // console.log(currentUser);
        inGameUsers = []
        // Loop through the roles and display each user their role
        Object.keys(roomRoles).forEach(username => {
            // console.log(username);
            inGameUsers.push(username)
            if (username == currentUser.innerText) {
                // const userRole = roomRoles[username];
                if (roomRoles[username] == "undercover") {
                    displayUserWord(randomWord[1].trim()); // Function to display the role for the current user
                }
                else if (roomRoles[username] == "civilian") {
                    displayUserWord(randomWord[0].trim()); // Function to display the role for the current user
                }
                else {
                    displayUserWord("You are MR. White"); // Function to display the role for the current user
                }
            }
        });
    });
    function displayUserWord(word) {
        const roleDisplayElement = document.getElementById("user-role");
        roleDisplayElement.innerHTML = `
            <span>Your got: <span id="word" style="display:none">${word}</span></span>
            <button onclick="toggleVisibility()">Show</button>
        `;
    }

    function toggleVisibility() {
        debugger;
        const wordElement = document.getElementById("word");
        const button = document.querySelector("#user-role button");

        if (wordElement.style.display === "none") {
            wordElement.style.display = "inline";
            button.innerText = "Hide";
        } else {
            wordElement.style.display = "none";
            button.innerText = "Show";
        }
    }

    function createVotingTable() {
        const votingTable = document.getElementById("voting-table");
        votingTable.innerHTML = ""
        inGameUsers.forEach(user => {
            const row = document.createElement("tr");
            const cell = document.createElement("td");
            const radio = document.createElement("input");
            radio.type = "radio";
            radio.name = "vote";
            radio.value = user;
            cell.appendChild(radio);
            cell.appendChild(document.createTextNode(user));
            row.appendChild(cell);
            votingTable.appendChild(row);
        });
    }
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }
    socketio.on("updateVotingTable", (data) => {
        inGameUsers = data.inGameUsers
        createVotingTable()
    });
    function toggleButtons() {
        // console.log("toggle button")
        debugger;
        const button = document.getElementById("voting-section");
        button.style.display = "none"
    }
    socketio.on("eliminate", (data) => {
        // console.log("eliminate" + data.name)
        // console.log(currentUser)
        if (currentUser.innerText == data.name) {
            debugger;
            toggleButtons()
        }
    });
    socketio.on("guessWord", (data) => {
        debugger;
        // console.log("guessWord"+data.white+data)
        if (currentUser.innerText == data.white) {
            const guessWord = document.getElementById("guessWord")
            guessWord.style.visibility = "visible";
            var guessWordButtonElement = document.getElementById("guessWordButton")
            guessWordButtonElement.style.display = "inline";
        }
    })
    // Function to display the popup card
    function showPopup(rolesInfo) {
        const popup = document.getElementById('popup-card');
        const rolesContent = document.getElementById('roles-info');

        // Set the content of the popup card with room roles and winner info
        rolesContent.innerHTML = rolesInfo;

        // Display the popup card
        popup.style.display = 'block';

        // Hide the popup after 15 seconds
        setTimeout(() => {
            popup.style.display = 'none';
            location.reload();
        }, 15000); // 15 seconds (15000 milliseconds)
    }

    // Socket event to receive room roles from the server
    socketio.on("roomRoles", (data) => {
        debugger;

        var roles = data.roles;
        let rolesInfo = '<p>Room Roles:</p><ul>';

        // Generate list items for each player and their respective roles
        Object.keys(roles).forEach((player) => {
            rolesInfo += `<li>${player}: ${roles[player]}</li>`;
        });

        rolesInfo += '</ul><p>Winner:' + data.winner + '</p>'; // Modify this line to display the actual winner

        // Call the function to display the popup card with room roles and winner info
        showPopup(rolesInfo);
    });
    function guessWord() {
        debugger;
        var guessedWordValue = document.getElementById("guessWord").value
        socketio.emit("guessedWord", {"data":guessedWordValue,"name":currentUser.innerText})
        var guessWordElement = document.getElementById("guessWord")
        guessWordElement.style.visibility = "hidden";
        var guessWordButtonElement = document.getElementById("guessWordButton")
        guessWordButtonElement.style.display = "none";
    }
    function submitVote() {
        const selectedUser = document.querySelector('input[name="vote"]:checked');
        if (!selectedUser) {
            alert("Please select a user to vote.");
            return;
        }
        const votedUser = selectedUser.value;
        // Emit an event to send the voted user to the server
        socketio.emit("userVote", votedUser);
    }

    function skipVote() {
        // Emit an event to skip voting
        socketio.emit("userVote", "SKIP");
    }

    const sendMessage = () => {
        const message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", { data: message.value })
        message.value = "";
    };

    function startGame() {
        var setUndercoverElement = document.getElementById("setUndercover")
        socketio.emit("startGame", { data: setUndercover.value });
    }
    // Get the input field
    var input = document.getElementById("message");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("send-btn").click();
        }
    });
</script>

{% endblock %}